<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title)" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <title th:replace="${title}">Smart Contact Manager</title>
</head>

<body class="dark:bg-gray-800 dark:text-white">
    <div th:replace="header::navbar" class="text-center">SCM</div>
    <div class="mt-20 ">
        <section th:replace="${content}"></section>
    </div>
    <!-- <div th:replace="footer:: footer" class="text-center">All Right Reserved</div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>