<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{'/css/output.css'}"/>
</head>

<body>
    <section id="content">
        <div>Welcome to HOME page</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit saepe et itaque suscipit rem numquam molestias
            distinctio repellendus aspernatur porro perferendis blanditiis nobis quos, esse error voluptas nisi tempore
            impedit ipsum quibusdam labore commodi sunt? Sed mollitia ad tempore rerum, velit ex et! Et, voluptates!</p>
    </section>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>